:root{
    --board_size:50vw;
    --color1: #f0ece2;
    --color2: #dfd3c3;
    --color3: #c7b198;
    --color4: #596e79;
}


.cell{
    display: flex;
    background-color: var(--color3);
    border:none;
    border-radius: 10px;
    font-size: 40px;
    justify-content: center;
    align-items: center;

}

#container{
    background-color: var(--color1);
    display:grid;
    margin:auto;
    width: var(--board_size);
    height: var(--board_size);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3px;
    border:3px solid beige;
    border-radius: 10px;
}